			body{
				padding:0;
				margin:0;
				overflow-x: hidden;
				font-family: 'Montserrat', sans-serif;
				background-color: whitesmoke;
			}
			h1,h2,h3,h4,h5 {
				font-family: 'Merriweather', serif;
			}
			li {
				list-style-type: none;
			}
			li a {
				color:#000;
			}
			li a:hover {
				color:limegreen;
				text-decoration: none;
			}
			hr {
			border-style: none;
			border-bottom-style: solid;
			border-width: 3px;
			border-color: limegreen;
			width: 10%;
		}
			.activecust {
				background-color: #f75c03;
		}
			.container-fluid {
			padding-right:0;
			padding-left:0;
			margin-right:0;
			margin-left:0;
		}
			.container {
		    padding-right:0;
		    padding-left:0;
		    margin-right:auto;
		    margin-left:auto
		 }
		 	.logo {
			font-family: 'Merriweather', serif;
			color: limegreen;
			}
			.carousel-caption{
				color:#f5f7dc;
			}
			.carousel-caption h1{
				font-size:3em;
			}
			.carousel-caption p{
				font-size: 1.5em;
			}
			.carousel-img{
				height: 500px;
			}
			.services {
				margin: 50px 0;
				text-align: center;
			}
			.categories h2 {
				text-align: center;
				margin: 30px 0 0 0;
			}
			.categories_list{
				margin-top: 30px;
			}
			.cta {
				min-height: 200px;
				background-color: salmon;
				text-align: center;
				padding-top: 10px;
				color: #f5f7dc;
			}
			.how_it_works {
				text-align: center;
				margin: 80px;
			}
			.edit1{
				display:none;
			}
			.footer{
				min-height: 500px;
				background-color: #3b413c;
				margin-top: 100px;
				color: white;
			}
			.footer_content{
				margin-top: 80px;
			}
			.footer_list li a{
				color: whitesmoke;
				text-decoration: none;
			}
			.footer-mob{
				display: none;
			}
			.how_it_works h2,h3 {
				margin:10px 0 20px 0;
			}
			/*styling for profile page*/
			.profile {
				border: 1px solid #fff;
				margin: 30px 0;
				background-color: #fff;
			}
			.profile-nav {
				min-height: 50px;
			}
			.profile-edit1{
				display:none;
			}
			.profile_edit:hover {
				background-color: grey;
				cursor: default;
			}
			.card-header{
				font-size: 22px;
				font-weight: 500;
			}
			.card-text {
				font-weight: 500;
			}
			.sub-container {
				background-color: whitesmoke;
				border-radius: 10px;
			}
			@media(min-width:320px) and (max-width: 768px) {
				.carousel-caption{
					font-size: 12px;
				}
				.carousel-img{
					height: 350px;
					margin-bottom: 25px;
				}
				.carousel-search{
					display:none;
				}
				/*cta resp styling*/
				.cta > p{
					padding: 5px;
				}
				.cta > a{
					margin-bottom: 10px;
				}
				/*services section resp styling*/
				.services{
					text-align: center;
				}
				.card{
					margin:0 auto 10px auto;
				}
				/*categories section responsive styling*/
				.categories{
					text-align: center;
				}
				.bottom-cat{
					display:none;
				}
				/*footer-section responsive styling*/
				.footer{
					min-height: 250px;
				}
				.footer-main{
					display: none;
				}
				.footer-mob{
					display: block;
					text-align: center;
					margin-top: 20px;
				}
				.footer-mob div{
					margin:15px 0;
					padding-top: 10px;
				}
				.footer-mob div a{
					color: #fff;
				}
				/*Styling for inner webapp*/
				.post-project{
					padding: 0.25rem 0.5rem;
				    font-size: 0.875rem;
				    line-height: 1.5;
				    border-radius: 0.2rem;
				    margin-bottom: 15px;
				}
				.navbar-brand {
					font-size: 16px;
				}
				.filter{
					padding: 0 45px ;
				}
				.manage-bids{
					font-size: 20px;
				}
				.welcome > h2{
					font-size: 26px;
				}
				.welcome > h4{
					font-size: 20px;
				}
				.job-detail-heading{
					font-size: 28px;
				}
				.submit-search{
					display:none;
				}
			}
			